/*
html, body {
	padding: 0;
	margin: 0;
}

#wrap{
	width: 800px;
	height: 500 px;
	background-color: green;
}

#header{
	position: relative;
	height:100px;
}

#score{
	left: 0px;
	top: 0px;
}
#timer{
	right: 0px;
	top: 0px;
}

#timer div{
	right: 0px;
	top: 0px;
}

#content{
	position: relative;
	background-color: gray;
	height:400px;
}

.box {
	position: absolute; /*지정하지 않으면 디폴트는 스태틱이며, 앱솔루트는 부모의 영향을 받는다.
	width : 100px;
	height: 100px;
	border: 1px solid #fff;
	padding: 0px;
	margin: 0px;
	background-color: blue;
	color: #fff;
	display: block;
}

.balloon{
	position: absolute; /*발룬은 앱솔루트, 부모인 컨텐츠는 렐러티브
	width : 50px;
	height : 50px;
	background-color : pink;
}
*/

html, body { padding: 0; margin: 0; }
#wrap {
	width: 800px;
	height: 500px;
	background-color: green;
}
#header {
	height: 100px;
	position: relative;
}
#score {
	left: 0px;
	top: 0px;
}
#timer {
	top: 0px;
	right: 0px;
}
#timer  div {
	font-size: 40pt;
	font-weight: bolder;
	text-align: center;
}
#content {
	background-color: #eee;
	height: 400px;
	border: 1px solid #000;
	position: relative;
}

.box {
	position: absolute;
	width : 100px;
	height: 100px;
	border: 1px solid #fff;
	padding: 0px;
	margin: 0px;
	background-color: blue;
	color: #fff;
	display: block;
}

.balloon {
	position: absolute;
	width : 50px;
	height: 50px;
	background-color: #456245;
}
*/